# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/
target/

# Intellij
.idea/
.idea_modules/
*.iml
*.iws
*.class
*.log

# Python
*.pyc

# Others
.checkstyle
.fbExcludeFilterFile
dependency-reduced-pom.xml
