#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

sudo: required
dist: trusty

language: java

# do not cache our own artifacts
before_cache:
  - rm -rf $HOME/.m2/repository/org/apache/flink/

cache:
  directories:
    - $HOME/.m2

services:
  - docker

jdk:
  - oraclejdk8
  - openjdk8

env:
  - |
    FLINK_VERSION="1.7.2" SCALA_VERSION="2.11" DOCKER="false"
    PROJECTS="flink-connector-activemq,flink-connector-akka,flink-connector-influxdb,flink-connector-netty,flink-connector-redis,flink-library-siddhi,flink-connector-kudu"
  - |
    FLINK_VERSION="1.7.2" SCALA_VERSION="2.11" DOCKER="true"
    PROJECTS="flink-connector-flume"

before_install:
  - ./dev/change-scala-version.sh $SCALA_VERSION

install: true

before_script:
  - if [[ $DOCKER == "true" ]]; then
    docker-compose -f "$PROJECTS/dockers/docker-compose.yml" up -d;
    fi

script: mvn clean verify -pl $PROJECTS -Pscala-$SCALA_VERSION -Dflink.version=$FLINK_VERSION

after_script:
  - if [[ $DOCKER == "true" ]]; then
    docker-compose -f "$PROJECTS/dockers/docker-compose.yml" down;
    fi
